<!-- Format |#each [name of objects with arrays]| -->
  {{#each each_activity}}
  <div class="col m6 actBox section">
    <!--           Use nested array objects to pass parameters -->
    <img src={{img_url}}/>
    <h4>{{this.act_name}}</h4>
    <span>{{this.address}}</span>
    <p>{{this.activity_description}}</p>
  </div>
  {{/each}}