<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
    <!-- Bootstrap -->
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"> --}}
      <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
      <!-- Local Stylesheet -->
    <link rel="stylesheet" href="stylesheets/styles.css"/>
    <script src="js/itinBuilder.js"></script>
  <title>24hr Adventures</title>
</head>

<body id="home" class="scrollspy">
<!--NAVBAR-->
    <div class="navbar-fixed">
        <nav class="teal">
            <div class="nav-wrapper">
                <a href="#home" class="brand-logo">24hr Adventure</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">more_horiz </i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="#popDestinations">Signup</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>



  {{{body}}}

   

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
    </div>

    <!-- FOOTER -->
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Contact Us</h5>
                    <i class="small fab fa-facebook-square"> &nbsp </i>
                    <i class="small  fab fa-weixin"> &nbsp </i>
                    <i class="small fab fa-instagram"> &nbsp </i>
                    <i class="small far fa-envelope"> &nbsp </i>
                    <i class="small fab fa-google-plus-g"> &nbsp </i>
                </div>
            </div>
        </div>
        <div class="footer-copyright teal darken-4">
            <div class="container">
                © 2018 Copyright
                <a class="white-text right" href="#">Back to top</a>
            </div>
        </div>
    </footer>

<!-- Materialize Component Initialization -->
    <script>
        const selector = document.querySelector('select');
        M.FormSelect.init(selector, {});

        const action_btn = document.querySelector('fixed-action-btn');
        M.FloatingActionButton.init(action_btn, {});
    </script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
   
    <!-- Compiled and minified Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>
   
 
</body>

</html>