<section class="section row center-align container" id="activity-builder">
    <div class="input-field col s8">
        <input id="acti-name" type="text" class="validate" required="" aria-required="true">
        <label for="acti-name">Activity Name</label>
    </div>

    <div class="input-field col s8">
        <textarea id="acti-address" type="text" name="itin-description" class="materialize-textarea validate" required="" aria-required="true"></textarea>
        <label for="acti-address">Give it an address!</label>
    </div>

    <div class="input-field col s8">
        <textarea id="acti-description" type="text" name="itin-description" class="materialize-textarea validate" required="" aria-required="true"></textarea>
        <label for="acti-description">Describe your Activity</label>
    </div>

    <div class="input-field col m6" id="acti-type">
        <select>
            <option value="" disabled selected>What Activity Type Is It?</option>
            <option value="Museums">Museums</option>
            <option value="Religious Sites">Religious Sites</option>
            <option value="Square">Squares and Plazas</option>
            <option value="Parks & Gardens">Parks and Gardens</option>
            <option value="Markets">Markets</option>
            <option value="Natural Attractions">Natural Attractions</option>
            <label>Select Activity Type</label>
        </select>
    </div>
</section>

<div class="btn btn-large teal btn-flat" id="saveBtn" type="submit" >CREATE ACTIVITY</div>



<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<!-- Compiled and minified Materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>
