<div class="container center-align">
    <h2>Build your own adventure</h2>
    <div class="ani-bounce">
        <img src="/images/build.png">
    </div>
    <div class="input-field col m6" id="activity-dropdown">
        <select>
            <option value="" disabled selected>Select Activity Type</option>
            <option value="Museums">Museums</option>
            <option value="Religious Sites">Religious Sites</option>
            <option value="Square">Squares and Plazas</option>
            <option value="Parks & Gardens">Parks and Gardens</option>
            <option value="Markets">Markets</option>
            <option value="Natural Attractions">Natural Attractions</option>
            <label>Select Activity Type</label>
        </select>
    </div>
</div>

<section class="center-align section row container" id="activity-selector">
</section>

<div class="divider"></div>
<h3 class="center-align">Build Your Adventure</h3>

<section class="section row center-align container" id="itin-builder">
</section>

<div id="cities-holder" data-city=""></div>

<section class="section row center-align container" id="detail-builder">
    <div class="input-field col s8">
        <textarea id="itin-description" type="text" name="itin-description" class="materialize-textarea validate" required="" aria-required="true"></textarea>
        <label for="itin-description">Enter a description for your itinerary</label>
    </div>
    <div class="input-field col s8">
        <input id="itin-name" type="text" class="validate" required="" aria-required="true">
        <label for="itin-name">and finally, name your itinerary!</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit" id="saveBtn" name="action" value="Log In">Save Itinerary
        <i class="material-icons right">cloud_upload</i>
    </button>
</section>

<div class="fixed-action-btn" id="fixed-panel">
    <a class="btn-floating btn-large blue pulse tool-tipped" data-position="left" data-tooltip="Create a New Activity!" id="create-activity">
        <i class="large material-icons">directions_bike</i>
    </a>
</div>

<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<!-- Compiled and minified Materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>

<script>
    const selector = document.querySelector('select');
    M.FormSelect.init(selector, {});

    const action_btn = document.querySelector('fixed-action-btn');
    M.FloatingActionButton.init(action_btn, {});

    const tooltip = document.querySelector('.tool-tipped');
    M.Tooltip.init(tooltip, {});
</script>

<script>
    const windowURL = new URL(window.location.href);
    const city = windowURL.searchParams.get("cities");

    $('body').on('change', '#activity-dropdown', function () {
        act_type = $('select').val();
        $.get('https://localhost:3000/api/builder?cities=' + city + '&typeOfActivities=' + act_type, function (data) {
            if (data.length == 0) {
                alert("No Matches Found");
            }
            $('#activity-selector').html('');

            data.forEach((activity) => {
                $('#activity-selector').append(
                    `<div data-activity="${activity.id}" class="activity-template col l3">
                        <img src="${activity.photo}" width="100%">
                        <h6 class="activity-name">${activity.name}</h6>
                        <span class="activity-address">${activity.address}</span>
                        <p class="activity-description">${activity.description}</p>
                        <button class="blockBtn add-btn btn waves-effect" type="submit"> Add
                            <i class="material-icons right">add</i>
                        </button>
                    </div>`
                )
            })
        });
    })

    $('#detail-builder').on('click', '#saveBtn', function () {
        let itinBuilder = new ItinBuilder();
        console.log(itinBuilder.addOn());
        $.post('/api/builder', itinBuilder.addOn()).done(function (data) {
            alert("Itinerary Saved!");
            $('#itin-builder').html('');
            $('#itin-description').val('');
            $('#itin-name').val('');
        })
    })

    //when activity moves to selected box, add identifier class
    $('body').on('click', '.add-btn', function () {
        if ($(this).parent().parent()[0].id == 'activity-selector') {
            const activityId = $(this).parent().data('activity');

            $('#itin-builder').append('<div class="selected-template col l3" data-activity="' + activityId + '" id="itin-builder">' + $(this).parent().html() + '</div>');

            $(this).parent().remove();

            $(".selected-template").find(".blockBtn").text('REMOVE');

        } else if ($(this).parent().parent()[0].id == 'itin-builder') {
            console.log("itin-builder");
            const activityId = $(this).parent().data('activity');

            $('#activity-selector').append('<div class="activity-template col l3" data-activity="' + activityId + '" id="activity-selector">' + $(this).parent().html() + '</div>');

            $(this).parent().remove();

            $(".activity-template").find(".blockBtn").text('ADD');
        }

    })
</script>


<script>
    $('#fixed-panel').on('click', '#create-activity', function () {
        var city = $('input').val();
        window.location.href = "/activity";
    })
</script>