{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" /> --}}
<link rel="stylesheet" href="stylesheets/styles.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>

{{!-- Activity Pool --}}
 <h3 class="center-align" >Checkout your options</h3>
 <div class="container">
        <div class="input-field col m6" id="activity-dropdown">
            <select>
                <option value="" disabled selected>Select Activity Type</option>
                <option value="Museums">Museums</option>
                <option value="Religious Sites">Religious Sites</option>
                <option value="Square">Squares and Plazas</option>
                <option value="Parks & Gardens">Parks and Gardens</option>
                <option value="Markets">Markets</option>
                <option value="Natural Attractions">Natural Attractions</option>
                <label>Select Activity Type</label>
            </select>
        </div>
    </div>
<section class="center-align section row container " id="activity-selector">
    

{{!-- {{>activityBlock}} --}}

</section>

<h3 class="center-align">Build Your Adventure</h3>
<section class="section row center-align container" id="itin-builder">

{{!-- {{>activitySelectedBlock}} --}}


</section>
<section class="section row center-align container" id="detail-builder">
    <div class="input-field col s8">
        <textarea id="itin-description" type="text" name="itin-description" class="materialize-textarea validate" required="" aria-required="true"></textarea>
        <label for="itin-description">Describe your Adventure</label>
    </div>
    <div class="input-field col s8">
          <input id="itin-name" type="text" class="validate" required="" aria-required="true">
          <label for="itin-name">and finally, give it a name!</label>
        </div>
        <div class="btn btn-large teal" id="saveBtn" type="submit" >SAVE ITINERARY</div>
</section>









<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<!-- Compiled and minified Materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>

<script>
      const selector = document.querySelector('select');
        M.FormSelect.init(selector, {});
</script>

<script>

    $('body').on('change', '#activity-dropdown', function() {
        //console.log("selectedValues", $('select').val());
        act_type = $('select').val();
        city = getUrlParameter('cities');
        console.log(city);
        $.get('https://localhost:3000/api/builder?cities=' + city + '&typeOfActivities=' + act_type, function(data){
            if (data.length == 0) {
                alert("No Matches Found");
            }
            //console.log(data);

        $('#activity-selector').html('');

        data.forEach((activity) =>{
            $('#activity-selector').append(
            `<div data-activity="${activity.id}" class="activity-template col l3">
                 <div style="background:url(${activity.photo})" class="bgimg">
                        <h4 class="activity-name">${activity.name}</h4>
                 </div>
                <span class="activity-address">${activity.address}</span>
                <p class="activity-description">${activity.description}</p>

                <div class="add-btn btn-flat blockBtn waves-light" type="submit">ADD</div>
            </div>`
            )
        })
        });
    })
</script>


<script>
    $('#detail-builder').on('click', '#saveBtn', function() {
            let itinBuilder = new ItinBuilder();
          console.log(itinBuilder.addOn());
            $.post('/api/builder',  itinBuilder.addOn()).done(function(data) {
                alert("Itinerary Saved!");
            })
    })
</script>

<script>
    //when activity moves to selected box, add identifier class
    $('body').on('click', '.add-btn', function(){
        if ($(this).parent().parent()[0].id == 'activity-selector') {
            const activityId = $(this).parent().data('activity');

            $('#itin-builder').append('<div class="selected-template col l3" data-activity="' + activityId + '" id="itin-builder">'+$(this).parent().html()+'</div>');

            $(this).parent().remove();

            $(".selected-template").find(".blockBtn").text('REMOVE');

        } else if ($(this).parent().parent()[0].id == 'itin-builder'){
            console.log("itin-builder");
            const activityId = $(this).parent().data('activity');
            
            $('#activity-selector').append('<div class="activity-template col l3" data-activity="' + activityId + '" id="activity-selector">'+$(this).parent().html()+'</div>');

            $(this).parent().remove();

             $(".activity-template").find(".blockBtn").text('ADD');
        }

    }) 

$('.add-btn').click(function() {

})
</script>

<script>
    var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
</script>