{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" /> --}}
<link rel="stylesheet" href="/stylesheets/styles.css" />

<!--MAIN SEARCH BAR and ACTIVITY DROPDOWN SELECTION-->
<div class="container center-align">
    <form action="" method="get">
        <input id="search" type="text" name="city-input" class="section-search center scrollspy">
        <label>Search</label>
    </form>
    <div class="container">
        <div class="input-field col m6" id="activity-dropdown">
            <select>
                 <option value="" disabled selected>Select Activity Type</option>
                <option value="Museums">Museums</option>
                <option value="Religious Sites">Religious Sites</option>
                <option value="Square">Squares and Plazas</option>
                <option value="Parks & Gardens">Parks and Gardens</option>
                <option value="Markets">Markets</option>
                <option value="Natural Attractions">Natural Attractions</option>
                <label>Select Activity Type</label>
            </select>
        </div>
    </div>
    <form>
        <input for="search" class="submitButton btn waves-effect waves-light btn-large" type="submit" value="Submit">
    </form>
</div>
<div class="divider"></div>

<!--FEATURED ITINERARIES-->
<section class="container ">
    <h3 class="center-align">Featured Itineraries</h3>

    {{!-- #each iterates new templates based on sets of available data --}} 
    {{#each data}} 
    {{!-- Beginning of template --}}
    <div class="test-template section">

        <div class="row">
            <div class="col l6">
                    <h4>{{title}}</h4>
                    <div>{{city}}</div>
            </div>
            <div class="col l6">
                <div>{{>activityTagPartial}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col l6">
                <p>{{description}}</p>
            </div>
            <div class="col l6">
                <div class="add-btn  btn waves-effect waves-light btn-large" type="submit">ADD</div>
            </div>
        </div>
        <div class="row">
            {{!-- Output partial to template --}} 
            {{> activityPartial}}
        </div>
    </div>
    {{!-- End of Template --}} 
    {{/each}}

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
    </div>

</section>



<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<!-- Compiled and minified Materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>