<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/styles.css" />


<!--SAVED ITINERARIES-->
<div class="container center-align" id="profile-itins">
    <h3>User's Saved Itineraries</h3>


</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<!-- Compiled and minified Materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>


<script>
    $(document).ready(function () {
        $.get('https://localhost:3000/api/profile'), function (data) {

            data.forEach((itin) => {
                $('#profile-itins').append(
                    `<div data-itin="${itin.id}" class="row">
                        <div style="background:url(${itin.photo})" class="col l6 bgimg" >
                            <h4>${itin.name}</h4>
                            <div>${itin.city}</div>
                        </div>
                    <div class="col l6" data-chip="${itin.id}">
           
                    </div>
  
                    <div class="row">
                        <div class="col l6">
                            <p>${itin.description}</p>
                        </div>
                    <div class="col l6">
                        <div class="add-btn  btn waves-effect waves-light btn-large" type="submit" id="itin-saver">SAVE</div>
                    </div>
                </div>
                <div class="row activity-partial" data-activity="${itin.id}">
                </div>
            </div>`
                )
            }
                itin.typeOfActivities.forEach((type) => {
                    $('[data-chip="${itin.id}"]').append(
                        `<div class="chip" >${type}</div>`
                    )
                })

                 itin.activities.forEach((activity) => {
                    $('[data-activity="${itin.id}"]').append(
                        `<div class="col m6 actBox section">
                        <img src=${activity.photo}/>
                        <h4>${activity.name}</h4>
                        <span>${activity.address}</span>
                        <p>${activity.description}</p>
                    </div>`
                    )
                })
            )
        }
    })


</script>